#CREAR EL .ENV Y LE DAMOS LAS VARIABLES REQUERIDAS PARA EL DOCKER

# Configuración de Base de Datos
MYSQL_ROOT_PASSWORD=
MYSQL_DATABASE=
DB_LOCAL_PORT=3307

# Configuración de la Aplicación
APP_PORT=8080

# Seguridad JWT (Debe ser una cadena larga y secreta)
JWT_SECRET_KEY=tu_clave_secreta_aqui
